.like__container {
  max-width: 1145px;
}

.like__title {
  margin-bottom: 50px;

  text-align: center;
}

.like__wrap-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}

.like__tinsel {
  bottom: -71%;
}

.like__tinsel .tinsel__left {
  top: -577px;
}
