.nav {
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav.header__nav--active .nav__list {
  animation: .2s linear .1s forwards slideLeft;
}

.nav__item {
  height: 24px;
  margin-bottom: 20px;

  transition: .2s;

  &:hover .nav__submenu-list {
    display: block;
  }

  &:not(:last-child) {
    margin-right: 39px;

    @media (max-width: 1376px) {
      margin-right: 55px;
    }

    @media (max-width: $lg) {
      margin-right: 68px;
    }

    @media (max-width: 870px) {
      margin-right: 40px;
    }
  }
}

.nav__link {
  font-weight: 600;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-white;
  letter-spacing: .02em;
  white-space: nowrap;

  &:hover {
    text-decoration: none;

    border-bottom: 2px solid $c-main;
  }
}

.nav__phone {
  display: none;

  @media (max-width: $sm) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav__submenu-list {
  position: absolute;
  top: 26px;
  left: 15px;

  display: none;
  padding: 30px 20px;

  background-color: $c-white;
  border-radius: 10px;
  box-shadow: 1px 2px 14px rgba(171, 171, 171, .25);
}

.nav__submenu-item {
  padding-bottom: 15px;
}

.nav__submenu-link {
  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-secondary;
  letter-spacing: .02em;
}
