.tinsel {
  position: relative;

  width: 100%;
  height: 1450px;
  margin-top: -1290px;
  overflow-x: hidden;

  background-color: $c-main;

  @media (max-width: $lg) {
    height: 1310px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 603px;
    height: 100%;

    background: url("../img/bc/tinsel-right.png") no-repeat;
    background-size: 100%;

    @media (max-width: $lg) {
      width: 395px;

      background: url("../img/bc/tinsel-right-tab.png") no-repeat;
    }

    @media (max-width: $md) {
      width: 125px;
      height: 393px;

      background: url("../img/bc/tinsel-right-mob.png") no-repeat;
    }
  }
}
