.footer {
  position: relative;

  padding-bottom: 100px;

  background-color: $c-main;

  &::before {
    @extend %gold;

    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 7px;
  }
}

.footer__container {
  max-width: 1380px;
  padding: 40px 30px 22px;

  @media (max-width: $md) {
    padding-top: 35px;
  }
}

.footer__top {
  margin-bottom: 50px;

  @media (max-width: $lg) {
    margin-bottom: 80px;
  }

  @media (max-width: $md) {
    margin-bottom: 30px;
  }
}

.footer__nav {
  @media (max-width: $md) {
    display: none;
  }
}

.footer__nav-md {
  display: none;

  @media (max-width: $md) {
    display: block;
  }

  & .nav__list {
    align-items: center;
  }

  & .nav__item {
    @media (max-width: $md) {
      margin: 0 0 5px;
    }
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  @media (max-width: $lg) {
    margin-bottom: 85px;
  }

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.footer__logo {
  @media (max-width: $md) {
    display: none;
  }
}

.footer__social {
  min-width: 265px;
  margin-top: 15px;
  margin-left: 50px;

  @media (max-width: $lg) {
    margin: 0;
  }

  @media (max-width: $md) {
    justify-content: space-between;
    min-width: 172px;
    margin-bottom: 45px;
  }
}

.footer__phone-adress {
  display: flex;
  flex-direction: column;
}

.footer__copyright {
  display: flex;
  justify-content: center;
}

.footer__copy-text {
  margin-bottom: 0;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 23px;
  font-family: $ff-main;
  color: $c-white;
  font-style: normal;
  letter-spacing: .02em;
}
