.btn-box {
  position: absolute;
  top: 50%;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-next,
.btn-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background: url("../img/icon/arrow-left.png") no-repeat;

  &:hover {
    opacity: .5;
  }

  &.swiper-button-disabled {
    opacity: .5;
  }
}

.btn-next {
  transform: rotate(-180deg);
}

.btn-prev {
  margin-left: -60px;
}

.btn-box svg {
  // width: 20px;
  // height: 20px;

  // fill: #a7a49c;
}
